#book-form {
    display: flex;
    justify-content:space-around;
    background-color:azure;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
    width: 1000px;

}


#book-form > * {
    margin: 3px;
}

body {
    display: grid;
    grid-row: 1fr 10fr;
}

.card-area {
    max-width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    background-color: lightblue;
    color: darkslategrey;
    margin: 10px;
    padding: 5px 15px;
    min-width: 250px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}