#book-form {
    display: flex;
    justify-content:space-around;
    background-color:azure;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
}

#book-form > * {
    margin: 3px;
}

body {
    display: grid;
    grid-row: 1fr 10fr;
}

.card-area {
    width: 1vw;
    display: flex;
    gap: 10px;
}

.card {
    background-color: aliceblue;
}